@import "./node_modules/tachyons/css/tachyons.css";

/*
Styles only for demo purpose
*/

* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
}

[data-pm-carousel-item] {
	border: 1px solid grey;
}

[data-pm-carousel-item]:focus {
	box-shadow: inset 0 0 0 2px blue;
}

[aria-current="true"] {
	background-color: orange;
}
